{% extends 'template.html.twig' %}

{% block title %}New Antecedents{% endblock %}

{% block body %}
    <h1>Create new Antecedents</h1>

    {{ include('antecedents/_form.html.twig') }}

    <a href="{{ path('antecedents_index') }}">back to list</a>
{% endblock %}
