{% extends 'template.html.twig' %}

{% block title %}Nouveau Rendez-Vous{% endblock %}

{% block body %}
    <h1>Créer Rendez-Vous</h1>
    <hr>

    {{ include('rendez_vous/_form.html.twig') }}

    <button class="btn btn-success" style="margin-left: 90%"> <a href="{{ path('rendez_vous_index') }}" style="color: white">Retour</a></button>
{% endblock %}
